.cols-middle-left,
.cols-middle-side {
    display: flex;
}

.cols-grow {
    flex-grow: 1;
}

.cols-middle-left,
.cols-middle-side {
    align-items: center;
}

.cols-middle-side {
    justify-content: space-between;
}

.cols-middle-left {
    justify-content: flex-start;
}
