button {
    appearance: none;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0 -2px 0 0 rgba(0,0,0,.5);
    cursor: pointer;
    outline: none;
    user-select: none;
}

button:hover {
}

button:active {
    box-shadow: inset 0 2px 0 0 rgba(0,0,0,.5), inset 0 0 50px 10px rgba(0,0,0,.1);
}

button .inner {
    position: relative;
    top: -1px;
}

button:active .inner {
    top: 1px;
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="range"],
input[type="text"] {
    appearance: none;
    border: 1px solid var(--black);
    border-radius: 3px;
    height: 20px;
    outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="range"] {
    background-color: var(--teal);
    border-radius: 10px;
    height: 2px;
    opacity: .7;
    transition: opacity .2s;
}

input[type="range"]:focus,
input[type="range"]:hover {
    opacity: 1;
}

input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb {
    appearance: none;
    background-color: var(--teal);
    border-radius: 50%;
    cursor: pointer;
    height: 15px;
    width: 15px;
}
