.settings {

}

.settings .row {
    position: relative;
    background-color: var(--grey-dark);
    padding: 10px;
}

.settings .row:not(:last-child) {
    padding-bottom: 10px;
}

.settings .row .icon-sliders {
    cursor: pointer;
    margin-right: 10px;
}

.settings .value-wrapper {
    border: 1px solid var(--grey-light);
    border-radius: 3px;
}

.settings .value-wrapper input[type="text"] {
    background-color: transparent;
    border: none;
    color: var(--white);
}

.settings .value-wrapper input[type="text"]:focus {
    background-color: var(--grey-lighter);
    color: var(--black);
}

.settings .value {
    text-align: center;
    width: 50px;
}

.settings .unit {
    margin: 0 10px;
    user-select: none;
}

.settings .slider-holder {
    background-color: var(--grey-dark);
    border-radius: 3px;
    margin-top: 10px;
    width: 100%;
}

.settings .slider {
    width: 100%;
}

.number-control {
    width: 100%;
}

.number-control .value-wrapper {}
