#terminal {
    backdrop-filter: blur(10px);
    background-color: rgba(0,0,0,.75);
    border: 2px solid rgba(0,0,0,.9);
    border-top-width: 5px;
    display: none;
    height: 200px;
    width: 100%;
}

.show-terminal #terminal {
    display: block;
}
